/* * { 
 font-family:'Share', cursive;
} */


body {
  width: 100vw !important;
  height: 100vh !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.formGroup{
  text-align: -webkit-center;

}
row{
  background-image: url(" https://images.unsplash.com/photo-1521719339011-a97de479a94a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43eb4eb50c978f2ead2b64e62e1481ca&auto=format&fit=crop&w=2800&q=80")
  
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
